$primary-color: #222;

$offwhite-font: #ddd;

body {
  background-color: $primary-color;
}

.button.button-primary, button.button-primary, input.button-primary[type="button"], input.button-primary[type="reset"], input.button-primary[type="submit"] {
  background-color: #2a2d33;
  border-color: #505156;

  &:hover {
    background-color: #505156;
    border-color: #505156;
    transition: background-color .1s;
  }
}

.container .header, .container .footer {
  background-color: #2a2d33;
}

#sidebar-scenes {
  h5.header {
    background-color: none;
    color: $offwhite-font;
  }

  ul {
    li {
      box-shadow: inset 0 1px #242424, 0 1px #242424;
      background-color: #474848;

      &:hover {
        background-color: #e2e4e7;
      }

      &.active {
        font-weight: bold;
        background-color: #e2e4e7 !important;
      }
    }
  }
}
